Challenge 1 - Import and Describe the Dataset
In this challenge we will use the austin_weather.csv file.
First import it into a data frame called austin.

In [1]:
import pandas as pd

In [2]:
austin = pd.read_csv(r"C:\Users\anato\Documents\IRONHACK\DAFT_1022\module_3\Lab_2_Intro-to-ML\austin_weather.csv")
austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events
0,2013-12-21,74,60,45,67,49,43,93,75,57,...,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm"
1,2013-12-22,56,48,39,43,36,28,93,68,43,...,30.13,29.87,10,10,5,16,6,25,0,
2,2013-12-23,58,45,32,31,27,23,76,52,27,...,30.49,30.41,10,10,10,8,3,12,0,
3,2013-12-24,61,46,31,36,28,21,89,56,22,...,30.45,30.3,10,10,7,12,4,20,0,
4,2013-12-25,58,50,41,44,40,36,86,71,56,...,30.33,30.27,10,10,7,10,2,16,T,

Next, describe the dataset you have loaded:
Look at the variables and their types
Examine the descriptive statistics of the numeric variables
Look at the first five rows of all variables to evaluate the categorical variables as well

In [3]:
austin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   object
 1   TempHighF                   1319 non-null   int64
 2   TempAvgF                    1319 non-null   int64
 3   TempLowF                    1319 non-null   int64
 4   DewPointHighF               1319 non-null   object
 5   DewPointAvgF                1319 non-null   object
 6   DewPointLowF                1319 non-null   object
 7   HumidityHighPercent         1319 non-null   object
 8   HumidityAvgPercent          1319 non-null   object
 9   HumidityLowPercent          1319 non-null   object
 10  SeaLevelPressureHighInches  1319 non-null   object
 11  SeaLevelPressureAvgInches   1319 non-null   object
 12  SeaLevelPressureLowInches   1319 non-null   object
 13  VisibilityHighMiles         1319 non-null   object
 14  VisibilityAvgMiles          1319 non-null   object
 15  VisibilityLowMiles          1319 non-null   object
 16  WindHighMPH                 1319 non-null   object
 17  WindAvgMPH                  1319 non-null   object
 18  WindGustMPH                 1319 non-null   object
 19  PrecipitationSumInches      1319 non-null   object
 20  Events                      1319 non-null   object
dtypes: int64(3), object(18)
memory usage: 216.5+ KB

Let's examine the DewPointAvgF variable by using the unique() function to list all unique values in this dataframe.

In [4]:
austin['DewPointAvgF'].unique()

array(['49', '36', '27', '28', '40', '39', '41', '26', '42', '22', '48',
       '32', '8', '11', '45', '55', '61', '37', '47', '25', '23', '20',
       '33', '30', '29', '17', '14', '13', '54', '59', '15', '24', '34',
       '35', '57', '50', '53', '60', '46', '56', '51', '31', '38', '62',
       '43', '63', '64', '67', '66', '58', '70', '68', '65', '69', '71',
       '72', '-', '73', '74', '21', '44', '52', '12', '75', '76', '18'],
      dtype=object)

Describe what you find in a markdown cell below the code. What did you notice? What do you think made Pandas to treat this column as object instead of int64?

'-' is the entry that makes this field's type object.

The following is a list of columns misrepresented as object. Use this list to convert the columns to numeric using the pandas.to_numeric function in the next cell. If you encounter errors in converting strings to numeric values, you need to catch those errors and force the conversion by supplying errors='coerce' as an argument for pandas.to_numeric. Coercing will replace non-convertable elements with NaN which represents an undefined numeric value. This makes it possible for us to conveniently handle missing values in subsequent data processing.

Hint: you may use a loop to change one column at a time but it is more efficient to use apply.

In [5]:
wrong_type_columns = ['DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 
                      'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 
                      'SeaLevelPressureAvgInches' ,'SeaLevelPressureLowInches', 'VisibilityHighMiles',
                      'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 
                      'WindGustMPH', 'PrecipitationSumInches']

In [9]:
austin[wrong_type_columns] = austin[wrong_type_columns].apply(lambda x : pd.to_numeric(x, errors = 'coerce'))

Check if your code has worked by printing the data types again. You should see only two object columns (Date and Events) now. All other columns should be int64 or float64.

In [10]:
austin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1319 entries, 0 to 1318
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Date                        1319 non-null   object
 1   TempHighF                   1319 non-null   int64
 2   TempAvgF                    1319 non-null   int64
 3   TempLowF                    1319 non-null   int64
 4   DewPointHighF               1312 non-null   float64
 5   DewPointAvgF                1312 non-null   float64
 6   DewPointLowF                1312 non-null   float64
 7   HumidityHighPercent         1317 non-null   float64
 8   HumidityAvgPercent          1317 non-null   float64
 9   HumidityLowPercent          1317 non-null   float64
 10  SeaLevelPressureHighInches  1316 non-null   float64
 11  SeaLevelPressureAvgInches   1316 non-null   float64
 12  SeaLevelPressureLowInches   1316 non-null   float64
 13  VisibilityHighMiles         1307 non-null   float64
 14  VisibilityAvgMiles          1307 non-null   float64
 15  VisibilityLowMiles          1307 non-null   float64
 16  WindHighMPH                 1317 non-null   float64
 17  WindAvgMPH                  1317 non-null   float64
 18  WindGustMPH                 1315 non-null   float64
 19  PrecipitationSumInches      1195 non-null   float64
 20  Events                      1319 non-null   object
dtypes: float64(16), int64(3), object(2)
memory usage: 216.5+ KB

Challenge 2 - Handle the Missing Data
Now that we have fixed the type mismatch, let's address the missing data.
By coercing the columns to numeric, we have created NaN for each cell containing characters. We should choose a strategy to address these missing data.

The first step is to examine how many rows contain missing data.

We check how much missing data we have by applying the .isnull() function to our dataset. To find the rows with missing data in any of its cells, we apply .any(axis=1) to the function. austin.isnull().any(axis=1) will return a column containing true if the row contains at least one missing value and false otherwise. Therefore we must subset our dataframe with this column. This will give us all rows with at least one missing value.

In the next cell, identify all rows containing at least one missing value. Assign the dataframes with missing values to a variable called missing_values.

In [11]:
missing_values = austin.loc[austin.isnull().any(axis=1)]

In our case, we will use a hybrid approach which is to first remove the data that contain most missing values then fill in the rest of the missing values with the linear interpolation algorithm.
Next, count the number of rows of austin and missing_values.

In [12]:
austin.shape[0]

1319

In [13]:
missing_values.shape[0]

136

We can find the number of missing rows in each column using the .isna() function. We then chain the .sum function to the .isna() function and find the number of missing rows per column

In [14]:
missing_values.isna().sum()

Date                            0
TempHighF                       0
TempAvgF                        0
TempLowF                        0
DewPointHighF                   7
DewPointAvgF                    7
DewPointLowF                    7
HumidityHighPercent             2
HumidityAvgPercent              2
HumidityLowPercent              2
SeaLevelPressureHighInches      3
SeaLevelPressureAvgInches       3
SeaLevelPressureLowInches       3
VisibilityHighMiles            12
VisibilityAvgMiles             12
VisibilityLowMiles             12
WindHighMPH                     2
WindAvgMPH                      2
WindGustMPH                     4
PrecipitationSumInches        124
Events                          0
dtype: int64

Remove this column from austin using the .drop() function. Use the inplace=True argument.

In [16]:
austin.drop('PrecipitationSumInches', axis = 1, inplace = True)

Next we will perform linear interpolation of the missing data.

In [17]:
austin_fixed = austin.interpolate(inplace = False)

Check to make sure austin_fixed contains no missing data. Also check austin - it still contains missing data.

In [20]:
austin.isna().sum()

Date                           0
TempHighF                      0
TempAvgF                       0
TempLowF                       0
DewPointHighF                  7
DewPointAvgF                   7
DewPointLowF                   7
HumidityHighPercent            2
HumidityAvgPercent             2
HumidityLowPercent             2
SeaLevelPressureHighInches     3
SeaLevelPressureAvgInches      3
SeaLevelPressureLowInches      3
VisibilityHighMiles           12
VisibilityAvgMiles            12
VisibilityLowMiles            12
WindHighMPH                    2
WindAvgMPH                     2
WindGustMPH                    4
Events                         0
dtype: int64

In [21]:
austin_fixed.isna().sum()

Date                          0
TempHighF                     0
TempAvgF                      0
TempLowF                      0
DewPointHighF                 0
DewPointAvgF                  0
DewPointLowF                  0
HumidityHighPercent           0
HumidityAvgPercent            0
HumidityLowPercent            0
SeaLevelPressureHighInches    0
SeaLevelPressureAvgInches     0
SeaLevelPressureLowInches     0
VisibilityHighMiles           0
VisibilityAvgMiles            0
VisibilityLowMiles            0
WindHighMPH                   0
WindAvgMPH                    0
WindGustMPH                   0
Events                        0
dtype: int64

Challenge 3 - Processing the Events Column
Our dataframe contains one true text column - the Events column. We should evaluate this column to determine how to process it.
Use the value_counts() function to evaluate the contents of this column

In [22]:
austin_fixed['Events'].value_counts()

                             903
Rain                         192
Rain , Thunderstorm          137
Fog , Rain , Thunderstorm     33
Fog                           21
Thunderstorm                  17
Fog , Rain                    14
Rain , Snow                    1
Fog , Thunderstorm             1
Name: Events, dtype: int64

What is the largest number of events happened in a single day? Enter your answer in the next cell.

3

We want to transform the string-type Events values to the numbers. This will allow us to apply machine learning algorithms easily.
How? We will create a new column for each type of events (i.e. Rain, Snow, Fog, Thunderstorm. In each column, we use 1 to indicate if the corresponding event happened in that day and use 0 otherwise.

Below we provide you a list of all event types. Loop the list and create a dummy column with 0 values for each event in austin_fixed. To create a new dummy column with 0 values, simply use austin_fixed[event] = 0.

In [23]:
event_list = ['Snow', 'Fog', 'Rain', 'Thunderstorm']

austin_fixed[event_list] = 0

Next, populate the actual values in the dummy columns of austin_fixed.
You will check the Events column. If its string value contains Rain, then the Rain column should be 1. The same for Snow, Fog, and Thunderstorm.

Hints:

Use pandas.Series.str.contains() to create the value series of each new column.

What if the values you populated are booleans instead of numbers? You can cast the boolean values to numbers by using .astype(int). For instance, pd.Series([True, True, False]).astype(int) will return a new series with values of [1, 1, 0].

In [26]:
for event in event_list :
    austin_fixed[event] = austin_fixed['Events'].str.contains(event).astype(int)

Print out austin_fixed to check if the event columns are populated with the intended values

In [27]:
austin_fixed.head(20)

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,...,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,Events,Snow,Fog,Rain,Thunderstorm
0,2013-12-21,74,60,45,67.0,49.0,43.0,93.0,75.0,57.0,...,7.0,2.0,20.0,4.0,31.0,"Rain , Thunderstorm",0,0,1,1
1,2013-12-22,56,48,39,43.0,36.0,28.0,93.0,68.0,43.0,...,10.0,5.0,16.0,6.0,25.0,,0,0,0,0
2,2013-12-23,58,45,32,31.0,27.0,23.0,76.0,52.0,27.0,...,10.0,10.0,8.0,3.0,12.0,,0,0,0,0
3,2013-12-24,61,46,31,36.0,28.0,21.0,89.0,56.0,22.0,...,10.0,7.0,12.0,4.0,20.0,,0,0,0,0
4,2013-12-25,58,50,41,44.0,40.0,36.0,86.0,71.0,56.0,...,10.0,7.0,10.0,2.0,16.0,,0,0,0,0
5,2013-12-26,57,48,39,39.0,36.0,33.0,79.0,63.0,47.0,...,9.0,7.0,12.0,3.0,17.0,,0,0,0,0
6,2013-12-27,60,53,45,41.0,39.0,37.0,83.0,65.0,47.0,...,9.0,7.0,7.0,1.0,11.0,,0,0,0,0
7,2013-12-28,62,51,40,43.0,39.0,33.0,92.0,64.0,36.0,...,10.0,7.0,10.0,2.0,14.0,,0,0,0,0
8,2013-12-29,64,50,36,49.0,41.0,28.0,92.0,76.0,60.0,...,10.0,4.0,17.0,5.0,24.0,,0,0,0,0
9,2013-12-30,44,40,35,31.0,26.0,21.0,75.0,60.0,45.0,...,10.0,10.0,13.0,5.0,21.0,,0,0,0,0
10,2013-12-31,55,46,36,31.0,28.0,23.0,76.0,54.0,32.0,...,10.0,10.0,8.0,1.0,12.0,,0,0,0,0
11,2014-01-01,69,54,39,51.0,42.0,30.0,83.0,68.0,52.0,...,10.0,8.0,13.0,4.0,22.0,,0,0,0,0
12,2014-01-02,55,44,33,39.0,26.0,19.0,83.0,55.0,26.0,...,10.0,9.0,21.0,8.0,31.0,,0,0,0,0
13,2014-01-03,58,43,28,37.0,22.0,18.0,75.0,49.0,22.0,...,10.0,10.0,14.0,4.0,21.0,,0,0,0,0
14,2014-01-04,71,57,42,55.0,48.0,38.0,89.0,68.0,47.0,...,10.0,8.0,16.0,7.0,28.0,,0,0,0,0
15,2014-01-05,59,47,34,54.0,32.0,15.0,87.0,59.0,31.0,...,10.0,4.0,21.0,10.0,34.0,,0,0,0,0
16,2014-01-06,36,29,22,15.0,8.0,2.0,50.0,38.0,26.0,...,10.0,10.0,17.0,7.0,27.0,,0,0,0,0
17,2014-01-07,48,35,22,29.0,11.0,4.0,68.0,43.0,17.0,...,10.0,10.0,13.0,5.0,22.0,,0,0,0,0
18,2014-01-08,53,47,40,51.0,45.0,30.0,93.0,75.0,57.0,...,2.0,1.0,12.0,1.0,18.0,Rain,0,0,1,0
19,2014-01-09,70,62,53,60.0,55.0,50.0,93.0,80.0,66.0,...,4.0,0.0,12.0,3.0,19.0,Fog,0,1,0,0

If your code worked correctly, now we can drop the Events column as we don't need it any more.

In [28]:
austin_fixed.drop('Events', axis = 1, inplace = True)

Challenge 4 - Processing The Date Column
The Date column is another non-numeric field in our dataset. A value in that field looks like '2014-01-06' which consists of the year, month, and day connected with hyphens. One way to convert the date string to numerical is using a similar approach as we used for Events, namely splitting the column into numerical Year, Month, and Day columns. In this challenge we'll show you another way which is to use the Python datetime library's toordinal() function. Depending on what actual machine learning analysis you will conduct, each approach has its pros and cons. Our goal today is to practice data preparation so we'll skip the discussion here.

Here you can find the reference and example for toordinal. The basic process is to first convert the string to a datetime object using datetime.datetime.strptime, then convert the datetime object to numerical using toordinal.

In the cell below, convert the Date column values from string to numeric values using toordinal().

In [31]:
import datetime

In [40]:
austin_fixed['Date'] = austin_fixed['Date'].apply(lambda x : datetime.datetime.strptime(x, '%Y-%m-%d').toordinal())

In [41]:
austin_fixed['Date'].head()

0    735223
1    735224
2    735225
3    735226
4    735227
Name: Date, dtype: int64

Challenge 5 - Sampling and Holdout Sets
Now that we have processed the data for machine learning, we will separate the data to test and training sets.

We first train the model using only the training set. We check our metrics on the training set. We then apply the model to the test set and check our metrics on the test set as well. If the metrics are significantly more optimal on the training set, then we know we have overfit our model. We will need to revise our model to ensure it will be more applicable to data outside the test set.

In the next cells we will separate the data into a training set and a test set using the train_test_split() function in scikit-learn.

When using scikit-learn for machine learning, we first separate the data to predictor and response variables. This is the standard way of passing datasets into a model in scikit-learn. The scikit-learn will then find out whether the predictors and responses fit the model.

In the next cell, assign the TempAvgF column to y and the remaining columns to X. Your X should be a subset of austin_fixed containing the following columns:

In [42]:
y = austin_fixed['TempAvgF']
x_columns = ['Date', 'TempHighF', 'TempLowF', 'DewPointHighF', 'DewPointAvgF', 'DewPointLowF', 'HumidityHighPercent', 'HumidityAvgPercent', 'HumidityLowPercent', 'SeaLevelPressureHighInches', 'SeaLevelPressureAvgInches', 'SeaLevelPressureLowInches', 'VisibilityHighMiles', 'VisibilityAvgMiles', 'VisibilityLowMiles', 'WindHighMPH', 'WindAvgMPH', 'WindGustMPH', 'Snow', 'Fog', 'Rain', 'Thunderstorm']
X = austin_fixed[x_columns]

In the next cell, import train_test_split from sklearn.model_selection

In [43]:
from sklearn.model_selection import train_test_split

Now that we have split the data to predictor and response variables and imported the train_test_split() function, split X and y into X_train, X_test, y_train, and y_test. 80% of the data should be in the training set and 20% in the test set. train_test_split() reference can be accessed here.

Enter your code in the cell below:

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0, shuffle = False)

Bonus Challenge 1
While the above is the common practice to prepare most datasets, when it comes to time series data, we sometimes do not want to randomly select rows from our dataset.
This is because many time series algorithms rely on observations having equal time distances between them. In such cases, we typically select the majority of rows as the test data and the last few rows as the training data. We don't use train_test_split() to select the train/test data because it returns random selections.

In the following cell, compute the number of rows that account for 80% of our data and round it to the next integer. Assign this number to ts_rows.

In [46]:
int(0.8 * austin_fixed.shape[0])

1055

In [56]:
X_ts_train = X[:1055]
y_ts_train = y[:1055]
X_ts_test = X[1055:]
y_ts_test = y[1055:]

Bonus Challenge 2
As explained in the README, the main purpose of this lab is to show you the typical process of preparing data for machine learning which sometimes takes up 90% of your time. Data cleaning is a valuable skill to learn and you need to be proficient at various techniques including the ones we showed you above as well as others you'll learn in the future. In the real world this skill will help you perform your job successfully and efficiently.

Now that we're done with data praparation, if you want to expeirence what you'll do in the rest 10% of your time, let's make the final leap.

We will use scikit-learn's Support Vector Machines to compute the fit of our training data set, the test on our test data set.

In the cell below, import svm from sklearn:

In [48]:
from sklearn import svm

Now, call svm.SVC.fit() on X_train and y_train. Assign the returned value to a variable called clf which stands for classifier. Then obtain the test score for X_test and y_test by calling clf.score().

In [51]:
clf = svm.SVC()

In [54]:
c = clf.fit(X_train, y_train)

c.score(X_test, y_test)

0.015151515151515152

You now see the model fit score of your test data set. If it's extremely low, it means your selected model is not a good fit and you should try other models.
In addition to fitting X_train, y_train, X_test, and y_test, you can also fit X_ts_train, y_ts_train, X_ts_test, and y_ts_test if you completed Bonus Challenge 1.

In [57]:
c_ts = clf.fit(X_ts_train, y_ts_train)

c_ts.score(X_ts_test, y_ts_test)

0.015151515151515152