Lab 14 Intro to scipy

Challenge 1 - The stats Submodule
This submodule contains statistical functions for conducting hypothesis tests, producing various distributions and other useful tools. Let's examine this submodule using the KickStarter dataset. Load the data using Ironhack's database (db: kickstarter, table: projects).

Now print the head function to examine the dataset.

In [1]:
import pandas as pd
import numpy as np
kickstarter = pd.read_csv(r"C:\Users\anato\Documents\IRONHACK\IronFrandre\Labs\Module 2\kickstarter.csv")

In [3]:
kickstarter.head()
kickstarter.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378661 entries, 0 to 378660
Data columns (total 15 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ID                378661 non-null  int64
 1   name              378657 non-null  object
 2   category          378661 non-null  object
 3   main_category     378661 non-null  object
 4   currency          378661 non-null  object
 5   deadline          378661 non-null  object
 6   goal              378661 non-null  float64
 7   launched          378661 non-null  object
 8   pledged           378661 non-null  float64
 9   state             378661 non-null  object
 10  backers           378661 non-null  int64
 11  country           378661 non-null  object
 12  usd pledged       374864 non-null  float64
 13  usd_pledged_real  378661 non-null  float64
 14  usd_goal_real     378661 non-null  float64
dtypes: float64(5), int64(2), object(8)
memory usage: 43.3+ MB

Import the mode function from scipy.stats and find the mode of the country and currency column.

In [4]:
from scipy.stats import mode

In [9]:
mode(kickstarter['country'], keepdims = True)

c:\Users\anato\anaconda3\lib\site-packages\scipy\stats\_stats_py.py:110: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
C:\Users\anato\AppData\Local\Temp\ipykernel_9376\2442104705.py:1: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  mode(kickstarter['country'], keepdims = True)

ModeResult(mode=array(['US'], dtype=object), count=array([292627]))

In [10]:
mode(kickstarter['currency'], keepdims = True)

C:\Users\anato\AppData\Local\Temp\ipykernel_9376\3295553924.py:1: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  mode(kickstarter['currency'], keepdims = True)

ModeResult(mode=array(['USD'], dtype=object), count=array([295365]))

The trimmed mean is a function that computes the mean of the data with observations removed. The most common way to compute a trimmed mean is by specifying a percentage and then removing elements from both ends. However, we can also specify a threshold on both ends. The goal of this function is to create a more robust method of computing the mean that is less influenced by outliers. SciPy contains a function called tmean for computing the trimmed mean.

In the cell below, import the tmean function and then find the 75th percentile of the goal column. Compute the trimmed mean between 0 and the 75th percentile of the column. Read more about the tmean function here.

In [12]:
from scipy.stats import tmean

In [14]:
kickstarter['goal'].quantile(0.75)

16000.0

In [16]:
tmean(kickstarter['goal'], (0, 16000))

4874.150287106898

SciPy contains various statistical tests. One of the tests is Fisher's exact test. This test is used for contingency tables.
The test originates from the "Lady Tasting Tea" experiment. In 1935, Fisher published the results of the experiment in his book. The experiment was based on a claim by Muriel Bristol that she can taste whether tea or milk was first poured into the cup. Fisher devised this test to disprove her claim. The null hypothesis is that the treatments do not affect outcomes, while the alternative hypothesis is that the treatment does affect outcome. To read more about Fisher's exact test, see:
#links
Let's perform Fisher's exact test on our KickStarter data. We intend to test the hypothesis that the choice of currency has an impact on meeting the pledge goal. We'll start by creating two derived columns in our dataframe. The first will contain 1 if the amount of money in usd_pledged_real is greater than the amount of money in usd_goal_real. We can compute this by using the np.where function. If the amount in one column is greater than the other, enter a value of 1, otherwise enter a value of zero. Add this column to the dataframe and name it goal_met.

In [21]:
kickstarter['goal_met'] = np.where(kickstarter['usd_pledged_real'] > kickstarter['usd_goal_real'], 1, 0)

In [22]:
kickstarter[['usd_pledged_real', 'usd_goal_real', 'goal_met']].head(20)

    usd_pledged_real  usd_goal_real  goal_met
0               0.00        1533.95         0
1            2421.00       30000.00         0
2             220.00       45000.00         0
3               1.00        5000.00         0
4            1283.00       19500.00         0
5           52375.00       50000.00         1
6            1205.00        1000.00         1
7             453.00       25000.00         0
8            8233.00      125000.00         0
9            6240.57       65000.00         0
10              0.00        2406.39         0
11          12700.00       12500.00         1
12              0.00        5000.00         0
13              0.00      200000.00         0
14         121857.33        6469.73         1
15            664.00        2500.00         0
16            395.00        1500.00         0
17            789.00        3000.00         0
18            250.00         250.00         0
19           1781.00        5000.00         0

Next, create a column that checks whether the currency of the project is in US Dollars. Create a column called usd using the np.where function where if the currency is US Dollars, assign a value of 1 to the row and 0 otherwise.

In [26]:
kickstarter['usd'] = np.where(kickstarter['currency'] == 'USD', 1, 0)

In [27]:
kickstarter[['currency', 'usd']].head(10)

  currency  usd
0      GBP    0
1      USD    1
2      USD    1
3      USD    1
4      USD    1
5      USD    1
6      USD    1
7      USD    1
8      USD    1
9      USD    1

Now create a contingency table using the pd.crosstab function in the cell below to compare the goal_met and usd columns.

In [37]:
contingency = pd.crosstab(kickstarter['goal_met'], kickstarter['usd'])
contingency

usd           0       1
goal_met
0         58685  187130
1         24611  108235

Import the fisher_exact function from scipy.stats and conduct the hypothesis test on the contingency table that you have generated above. You can read more about the fisher_exact function here. The output of the function should be the odds ratio and the p-value. The p-value will provide you with the outcome of the test.

In [33]:
from scipy.stats import fisher_exact

In [36]:
fisher_exact(contingency)

(1.3791838163150314, 2.994e-320)