Lab 7 Hypothesis testing

Bonus Challenge 1 - T-test
In statistics, t-test is used to test if two data samples have a significant difference between their means. There are two types of t-test:

Student's t-test (a.k.a. independent or uncorrelated t-test). This type of t-test is to compare the samples of two independent populations (e.g. test scores of students in two different classes). scipy provides the ttest_ind method to conduct student's t-test.

Paired t-test (a.k.a. dependent or correlated t-test). This type of t-test is to compare the samples of the same population (e.g. scores of different tests of students in the same class). scipy provides the ttest_re method to conduct paired t-test.

Both types of t-tests return a number which is called the p-value. If p-value is below 0.05, we can confidently declare the null-hypothesis is rejected and the difference is significant. If p-value is between 0.05 and 0.1, we may also declare the null-hypothesis is rejected but we are not highly confident. If p-value is above 0.1 we do not reject the null-hypothesis.

Read more about the t-test in this article and this Quora. Make sure you understand when to use which type of t-test.

In [7]:
import pandas as pd
import numpy as np

Import dataset
In this challenge we will work on the Pokemon dataset you have already used. The goal is to test whether different groups of pokemon (e.g. Legendary vs Normal, Generation 1 vs 2, single-type vs dual-type) have different stats (e.g. HP, Attack, Defense, etc.). Use Ironhack's database to load the data (db: pokemon, table: pokemon_stats).

In [8]:
pokemon = pd.read_csv(r"C:\Users\anato\Documents\IRONHACK\IronFrandre\Labs\Module 1\Pokemon.csv")
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

First we want to define a function with which we can test the means of a feature set of two samples.
In the next cell you'll see the annotations of the Python function that explains what this function does and its arguments and returned value. This type of annotation is called docstring which is a convention used among Python developers. The docstring convention allows developers to write consistent tech documentations for their codes so that others can read. It also allows some websites to automatically parse the docstrings and display user-friendly documentations.

Follow the specifications of the docstring and complete the function.

In [9]:
from scipy.stats import ttest_ind

def t_test_features(s1, s2, features=['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Total']):
    """Test means of a feature set of two samples
    
    Args:
        s1 (dataframe): sample 1
        s2 (dataframe): sample 2
        features (list): an array of features to test
    
    Returns:
        dict: a dictionary of t-test scores for each feature where the feature name is the key and the p-value is the value
    """
    results = {}

    for column in features :
        results[column] = ttest_ind(s1[column], s2[column], equal_var=False)[1]
    
    return results

Using the t_test_features function, conduct t-test for Lengendary vs non-Legendary pokemons.
Hint: your output should look like below:

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

In [10]:
t_test_features(pokemon.loc[pokemon['Legendary'] == True], pokemon.loc[pokemon['Legendary'] == False])

{'HP': 1.0026911708035284e-13,
 'Attack': 2.520372449236646e-16,
 'Defense': 4.8269984949193316e-11,
 'Sp. Atk': 1.5514614112239812e-21,
 'Sp. Def': 2.2949327864052826e-15,
 'Speed': 1.049016311882451e-18,
 'Total': 9.357954335957446e-47}

From the test results above, what conclusion can you make? Do Legendary and non-Legendary pokemons have significantly different stats on each feature?

The p-values we obtained are very small. Even if we take a confidence level of 0.01, all studied parameters are significantly differents between legendary and non-legendary pokemons.


Next, conduct t-test for Generation 1 and Generation 2 pokemons.

In [11]:
t_test_features(pokemon.loc[pokemon['Generation'] == 1], pokemon.loc[pokemon['Generation'] == 2])

{'HP': 0.14551697834219623,
 'Attack': 0.24721958967217725,
 'Defense': 0.5677711011725426,
 'Sp. Atk': 0.12332165977104388,
 'Sp. Def': 0.18829872292645752,
 'Speed': 0.00239265937312135,
 'Total': 0.5631377907941676}

What conclusions can you make?

If we take a confidence level of 0.01, speed is significantly different between gen 1 and gen 2 pokemons, but other parameters are not.


Compare pokemons who have single type vs those having two types.

In [12]:
t_test_features(pokemon.loc[pokemon['Type 2'].isna()], pokemon.loc[pokemon['Type 2'].notna()])

{'HP': 0.11314389855379414,
 'Attack': 0.00014932578145948305,
 'Defense': 2.7978540411514693e-08,
 'Sp. Atk': 0.00013876216585667907,
 'Sp. Def': 0.00010730610934512779,
 'Speed': 0.02421703281819093,
 'Total': 1.1157056505229961e-07}

What conclusions can you make?

If we take a confidence level of 0.01, HP and speed are not significantly different between 1-type and 2-types pokemon (speed would be if we took a higher confidence level, for example 0.05), but other parameters are.


Now, we want to compare whether there are significant differences of Attack vs Defense and Sp. Atk vs Sp. Def of all pokemons. Please write your code below.
Hint: are you comparing different populations or the same population?
We are comparing two caracteristics from the same population, and we may assume that the distribution are the same for the two, so we may use t_test with the assumption that they are related.

In [13]:
from scipy.stats import ttest_rel

In [14]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [15]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

What conclusions can you make?

If we take a confidence interval of 0.01 (the result would be the same with 0.1 and 0.05), Attack and Defence are significantly different, but Sp. Atk and Sp. Def are not.

Bonus Challenge 2 - ANOVA
In statistics, Analysis of Variance (ANOVA) is also used to analyze the differences among group means. The difference between t-test and ANOVA is the former is ued to compare two groups whereas the latter is used to compare three or more groups. Read more about the difference between t-test and ANOVA.

From the ANOVA test, you receive two numbers. The first number is called the F-value which indicates whether your null-hypothesis can be rejected. The critical F-value that rejects the null-hypothesis varies according to the number of total subjects and the number of subject groups in your experiment. In this table you can find the critical values of the F distribution. If you are confused by the massive F-distribution table, don't worry. Skip F-value for now and study it at a later time. In this challenge you only need to look at the p-value.

The p-value is another number yielded by ANOVA which already takes the number of total subjects and the number of experiment groups into consideration. Typically if your p-value is less than 0.05, you can declare the null-hypothesis is rejected.

In this challenge, we want to understand whether there are significant differences among various types of pokemons' Total value, i.e. Grass vs Poison vs Fire vs Dragon... There are many types of pokemons which makes it a perfect use case for ANOVA. Use Ironhack's database to load the pokemon data (db: pokemon, table: pokemon_stats).

To achieve our goal, we use three steps:

Extract the unique values of the pokemon types.

Select dataframes for each unique pokemon type.

Conduct ANOVA analysis across the pokemon types.

First let's obtain the unique values of the pokemon types. These values should be extracted from Type 1 and Type 2 aggregated. Assign the unique values to a variable called unique_types.
Hint: the correct number of unique types is 19 including NaN. You can disregard NaN in next step.

In [16]:
unique_types = np.union1d(pokemon.loc[pokemon['Type 1'].notna(), 'Type 1'], pokemon.loc[pokemon['Type 2'].notna(), 'Type 2'])

len(unique_types)

18

Second we will create a list named pokemon_totals to contain the Total values of each unique type of pokemons.
Why we use a list instead of a dictionary to store the pokemon Total? It's because ANOVA only tells us whether there is a significant difference of the group means but does not tell which group(s) are significantly different. Therefore, we don't need know which Total belongs to which pokemon type.

Hints:

Loop through unique_types and append the selected type's Total to pokemon_groups.
Skip the NaN value in unique_types. NaN is a float variable which you can find out by using type(). The valid pokemon type values are all of the str type.
At the end, the length of your pokemon_totals should be 18.

In [17]:
pokemon_totals = [pokemon.loc[(pokemon['Type 1'] == item) | (pokemon['Type 2'] == item), 'Total'] for item in unique_types]

Now we run ANOVA test on pokemon_totals.
Hints:

To conduct ANOVA, you can use scipy.stats.f_oneway(). Here's the reference.

What if f_oneway throws an error because it does not accept pokemon_totals as a list? The trick is to add a * in front of pokemon_totals, e.g. stats.f_oneway(*pokemon_groups). This trick breaks the list and supplies each list item as a parameter for f_oneway.

In [18]:
from scipy.stats import f_oneway

In [19]:
f_oneway(*pokemon_totals)

F_onewayResult(statistic=6.6175382960055344, pvalue=2.6457458815984803e-15)

Interpret the ANOVA test result. Is the difference significant?

The anova test gave a very small p-value. This allows us to reject null hypothesis. Hence we conclude that at least one type has total values which differ significantly from the other types.

Challenge 3

Part 1 - Exploring the Data
In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [20]:
employees = pd.read_csv(r"C:\Users\anato\Documents\IRONHACK\DAFT_1022\module_2\Lab_7_Hypothesis-Testing\Employees_advanced.csv")

Examine the salaries dataset using the head function below.

In [21]:
employees.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the head function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [22]:
employees.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

In [23]:
employees.isna().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [24]:
employees.groupby('Salary or Hourly').count()

,Name,Job Titles,Department,Full or Part-Time,Typical Hours,Annual Salary,Hourly Rate
Salary or Hourly,,,,,,,
Hourly,8022,8022,8022,8022,8022,0,8022
Salary,25161,25161,25161,25161,0,25161,0

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [25]:
employees.groupby('Department').count()['Name'].head()

Department
ADMIN HEARNG           39
ANIMAL CONTRL          81
AVIATION             1629
BOARD OF ELECTION     107
BOARD OF ETHICS         8
Name: Name, dtype: int64

Part 2 - Hypothesis Tests
In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [26]:
from scipy.stats import ttest_1samp

In [27]:
ttest_1samp(employees.loc[employees['Hourly Rate'].notna(), 'Hourly Rate'], 30)

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [28]:
ttest_1samp(employees.loc[(employees['Annual Salary'].notna()) & (employees['Department'] == 'POLICE'), 'Annual Salary'], 86000)

Ttest_1sampResult(statistic=3.081997005712994, pvalue=0.0020603403550965137)

In [29]:
employees.loc[(employees['Annual Salary'].notna()) & (employees['Department'] == 'POLICE'), 'Annual Salary'].mean()

86486.41450313339

Using the crosstab function, find the department that has the most hourly workers.

In [30]:
pd.crosstab(employees['Department'], employees['Salary or Hourly'])

Salary or Hourly       Hourly  Salary
Department
ADMIN HEARNG                0      39
ANIMAL CONTRL              19      62
AVIATION                 1082     547
BOARD OF ELECTION           0     107
BOARD OF ETHICS             0       8
BUDGET & MGMT               2      44
BUILDINGS                   0     269
BUSINESS AFFAIRS            7     164
CITY CLERK                  0      84
CITY COUNCIL               64     347
COMMUNITY DEVELOPMENT       4     203
COPA                        0     116
CULTURAL AFFAIRS            7      58
DISABILITIES                0      28
DoIT                        0      99
FAMILY & SUPPORT          287     328
FINANCE                    44     516
FIRE                        2    4639
GENERAL SERVICES          765     215
HEALTH                      3     485
HUMAN RELATIONS             0      16
HUMAN RESOURCES             4      75
INSPECTOR GEN               0      87
LAW                        40     367
LICENSE APPL COMM           0       1
MAYOR'S OFFICE              8      77
OEMC                     1273     829
POLICE                     10   13404
POLICE BOARD                0       2
PROCUREMENT                 2      90
PUBLIC LIBRARY            299     716
STREETS & SAN            1862     336
TRANSPORTN                725     415
TREASURER                   0      22
WATER MGMNT              1513     366

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [31]:
employees.loc[(employees['Department'] == 'STREETS & SAN') & (employees['Salary or Hourly'] == 'Hourly'), 'Hourly Rate'].mean()

33.728378088076845

In [32]:
ttest_1samp(employees.loc[(employees['Department'] == 'STREETS & SAN') & (employees['Salary or Hourly'] == 'Hourly'), 'Hourly Rate'], 35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

Part 3 To practice - Constructing Confidence Intervals
While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. ).

To read more about confidence intervals, click here.

In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers.

The confidence interval is computed in SciPy using the t.interval function. You can read more about this function here.

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using this function in SciPy.

In [33]:
from scipy.stats import t
from scipy.stats import sem

In [37]:
t.interval(0.95, df = employees.loc[employees['Hourly Rate'].notna(), 'Hourly Rate'].shape[0] - 1, loc = employees.loc[employees['Hourly Rate'].notna(), 'Hourly Rate'].mean(), scale = sem(employees.loc[employees['Hourly Rate'].notna(), 'Hourly Rate']))

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [38]:
t.interval(0.95, df = employees.loc[(employees['Salary or Hourly'] == 'Salary') & (employees['Department'] == 'POLICE')].shape[0], loc = employees.loc[(employees['Salary or Hourly'] == 'Salary') & (employees['Department'] == 'POLICE'), 'Annual Salary'].mean(), scale = sem(employees.loc[(employees['Salary or Hourly'] == 'Salary') & (employees['Department'] == 'POLICE'), 'Annual Salary']))

(86177.05631740222, 86795.77268886456)

Bonus Challenge - Hypothesis Tests of Proportions
Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction.

You can read more about one sample proportion tests here.

In the cell below, use the proportions_ztest function from statsmodels to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [42]:
import statsmodels