Lab Dicts, sets and tuples Challenge 1

Do you know you can create tuples with only one element?

In [3]:
x = ("I",)
type(x)

tuple

Now try to append the following elements to tup.
How about re-assign a new value to an existing tuple?
Tuples are immutable.

Split tup into tup1 and tup2 with 4 elements in each.

In [5]:
tup = ("I", "r", "o", "n", "h", "a", "c", "k")
tup1 = (tup[0], tup[1], tup[2], tup[3])
tup2 = (tup[-4], tup[-3], tup[-2], tup[-1])
print(tup2)

('h', 'a', 'c', 'k')

Add tup1 and tup2 into tup3 using the + operator.
Then print tup3 and check if tup3 equals to tup.

In [6]:
tup3 = tup1 + tup2
print(tup3==tup)

True

Count the number of elements in tup1 and tup2. Then add the two counts together and check if the sum is the same as the number of elements in tup3.

In [8]:
print(len(tup1))
print(len(tup1) + len(tup2) == len(tup3))

4
True

What is the index number of "h" in tup3?

In [11]:
print(tup3.index("h"))

4

Now, use a FOR loop to check whether each letter in the following list is present in tup3:

In [12]:
letters = ["a", "b", "c", "d", "e"]
for item in letters : print(item in tup3)

True
False
True
False
False

How many times does each letter in letters appear in tup3?

In [14]:
for item in letters :
    num = 0
    for t in tup3 :
        if item == t : num += 1
    print(item, "appears", num, "times in tup3.")

a appears 1 times in tup3.
b appears 0 times in tup3.
c appears 1 times in tup3.
d appears 0 times in tup3.
e appears 0 times in tup3.

Challenge 2 : Sets

In the cell below, create a list named sample_list_1 with 80 random values.

In [1]:
import random
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[39, 2, 69, 59, 11, 62, 98, 24, 30, 66, 93, 90, 29, 54, 31, 63, 87, 78, 21, 20, 27, 43, 64, 89, 68, 82, 55, 77, 97, 61, 92, 76, 88, 46, 6, 70, 79, 33, 95, 42, 48, 65, 53, 1, 0, 58, 36, 85, 37, 35, 60, 13, 18, 51, 52, 80, 67, 17, 40, 38, 100, 83, 71, 10, 3, 50, 72, 12, 94, 9, 96, 56, 32, 74, 15, 44, 26, 45, 4, 19]

Convert sample_list_1 to a set called set1. Print the length of the set. Is its length still 80?

In [2]:
set1 = set()
for i in sample_list_1 : set1.add(i)
print(len(set1))

80

Create another list named sample_list_2 with 80 random values.

In [3]:
sample_list_2 = []
for i in range(80) : sample_list_2.append(random.randrange(101))
print(sample_list_2)

[87, 86, 98, 39, 77, 21, 88, 80, 24, 98, 84, 21, 64, 28, 27, 62, 29, 37, 99, 61, 82, 8, 59, 79, 55, 72, 23, 37, 52, 78, 8, 15, 78, 54, 34, 60, 72, 29, 12, 24, 20, 13, 14, 90, 87, 89, 10, 49, 72, 49, 5, 98, 92, 46, 11, 1, 0, 35, 24, 89, 29, 9, 54, 44, 4, 82, 20, 100, 25, 26, 86, 41, 69, 90, 73, 24, 6, 41, 15, 40]

Convert sample_list_2 to a set called set2. Print the length of the set. Is its length still 80?

In [4]:
set2 = set()
for i in sample_list_2 : set2.add(i)
print(len(set2))

57

Identify the elements present in set1 but not in set2. Assign the elements to a new set named set3.
Identify the elements present in set2 but not in set1. Assign the elements to a new set named set4.

In [5]:
set3 = set1 - set2
set4 = set2 - set1

Now Identify the elements shared between set1 and set2. Assign the elements to a new set named set5.

In [6]:
set5 = set1.intersection(set2)

What is the relationship among the following values:
len(set1)
len(set2)
len(set3)
len(set4)
len(set5)

len(set1) >= len(set2)
len(set1) >= len(set3)
len(set2) >= len(set4)
len(set2) >= len(set5)

In [7]:
print(len(set1) >= len(set2) and len(set1) >= len(set3) and len(set2) >= len(set4) and len(set2) >= len(set5))

True

Create an empty set called set6.
Add set3 and set5 to set6 using the Python Set update method.

In [8]:
set6 = set()
set6.update(set3)
set6.update(set5)

Check if set1 and set6 are equal.

In [9]:
print(set1 == set6)

True

Check if set1 contains set2 using the Python Set issubset method. Then check if set1 contains set3.*

In [10]:
print(set2.issubset(set1))
print(set3.issubset(set1))

False
True

Using the Python Set union method, aggregate set3, set4, and set5. Then aggregate set1 and set2.
Check if the aggregated values are equal.

In [11]:
print(set3.union(set4.union(set5)) == set1.union(set2))

True

Using the pop method, remove the first element from set1.

In [14]:
set1.pop()

0

Remove every element in the following list from set1 if they are present in the set. Print the remaining elements.
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]

In [24]:
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
for i in list_to_remove :
    if i in set1 : set1.remove(i)
print(set1)

{2, 3, 4, 6, 10, 12, 13, 15, 17, 18, 20, 24, 26, 27, 30, 32, 33, 35, 36, 37, 38, 40, 42, 43, 44, 45, 46, 48, 50, 52, 53, 54, 55, 56, 58, 60, 62, 63, 64, 65, 66, 67, 68, 70, 72, 74, 76, 77, 78, 80, 82, 83, 85, 87, 88, 90, 92, 93, 94, 95, 96, 97, 98, 100}